<div>Your job ID is {{jobguid}}</div>
<br/>
<form action="/getjobresult"method="post">
    Please input job ID to get result: <input type="text" name="jobguid" value="{{jobguid}}"> <br />
    <input type="submit" value="Submit">
</form>