<form action="/createjob"method="post">
    Please input the url address you want to get: <input type="text" name="urladdress" value=""> <br />
    <input type="submit" value="Submit">
</form>
<br/>

<form action="/getjobresult"method="post">
    Please input job ID to get result: <input type="text" name="jobguid" value=""> <br />
    <input type="submit" value="Submit">
</form>
